.push {
  margin-left: auto;
}


.main-nav {
  
  display: flex;
  list-style: none;
  justify-content: space-between;
  
  
}

a {

  color:#459;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  
}

.image-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}
